__pycache__/
.cache/
.mypy_cache/
.pytest_cache/
.venv/
build/
my_checks/
site/
tmp/
.coverage*
.env
benchmark_results.json
coverage-integration.xml
coverage-unit.xml
coverage.svg
coverage.xml
dbt.duckdb
junit-integration.xml
junit-unit.xml
junit.xml
pytest-coverage.txt
results.json
*.ipynb
