[tool.black]
line-length = 99
include = '/project$|\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.eggs
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.vscode
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"

[tool.mypy]
follow_imports = "silent"
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true
plugins = [
  "pydantic.mypy"
]

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = "dbt_artifacts_parser.*"

[tool.poetry]
authors = ["Padraic Slattery <pgoslatara@gmail.com>"]
classifiers = [
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
description = "Configure and enforce conventions for your dbt project."
keywords = [
  "python",
  "cli",
  "dbt",
  "CI/CD",
]
license ="MIT"
maintainers = ["Padraic Slattery <pgoslatara@gmail.com>"]
name = "dbt-bouncer"
packages = [
    { include = "dbt_bouncer" },
]
readme = "README.md"
repository = "https://github.com/godatadriven/dbt-bouncer"
version = "0.14.0"

[tool.poetry.dependencies]
python = ">=3.8.1,<3.13"
click = "<9"
dbt-artifacts-parser = "^0"
pydantic = "^2"
pytest = "<9"
pyyaml = "<7"
requests = "^2"
tabulate = "^0"

[tool.poetry.group.dev.dependencies]
autoflake = "^2"
black = "^24"
dbt-core="^1"
dbt-duckdb="^1"
isort = "^5"
mypy = "^1"
pex = "^2"
pre-commit = "^3"
pytest-cov = "^5"
pytest-xdist = "^3"
sh = "^2"
"shandy-sqlfmt" = {version = "^0", extras=["shandy-sqlfmt[jinjafmt]"]}

[tool.poetry.scripts]
dbt-bouncer = "dbt_bouncer.main:cli"

[tool.poetry_bumpversion.file."./dbt_bouncer/version.py"]
[tool.poetry_bumpversion.file."action.yml"]

[build-system]
requires = ["poetry-core>=1.6.0"]
build-backend = "poetry.core.masonry.api"
