---
name: CI pipeline

on:
  pull_request:
      branches:
          - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DBT_PROFILES_DIR: dbt_project
  DBT_PROJECT_DIR: dbt_project
  IMAGE_NAME: ${{ github.repository }}
  POETRY_VERSION: "2.0.1"
  POETRY_VIRTUALENVS_IN_PROJECT: true
  REGISTRY: ghcr.io

jobs:
    action-test:
      permissions:
        contents: read
      runs-on: ubuntu-22.04
      steps:
          - uses: actions/checkout@v5

          - name: Setup Python
            uses: ./.github/actions/setup_python_env

          - name: Run dbt-bouncer
            uses: godatadriven/dbt-bouncer@v1.27.1a1

          - run: rm ./dbt_project/target/catalog.json

          - name: Run dbt-bouncer
            uses: godatadriven/dbt-bouncer@v1.27.1a1
            with:
                only: manifest_checks
