---
  name: Merge pipeline

  on:
    push:
      branches:
        - main
    workflow_dispatch:

  env:
    DBT_PROFILES_DIR: dbt_project
    DBT_PROJECT_DIR: dbt_project

  jobs:
      benchmark-main-branch:
        permissions:
          contents: read
        runs-on: ubuntu-22.04
        steps:
          - uses: actions/checkout@v6

          - name: Setup Python
            uses: ./.github/actions/setup_python_env

          - name: Install `dbt-bouncer`
            run: pip install git+https://github.com/godatadriven/dbt-bouncer.git@${{ github.sha }}

          - name: Install bencher
            uses: bencherdev/bencher@v0.5.10

          - name: Install Hyperfine
            uses: taiki-e/install-action@v2
            with:
              tool: hyperfine@1.20

          - name: Track base branch benchmarks with Bencher
            run: |
              bencher run \
                --adapter shell_hyperfine \
                --file results.json \
                --project dbt-bouncer \
                --token '${{ secrets.BENCHER_API_TOKEN }}' \
                --branch main \
                --err \
                "hyperfine --export-json results.json --runs 10 'dbt-bouncer --config-file dbt-bouncer-example.yml'"

      deploy-docs:
          permissions:
            contents: write
          runs-on: ubuntu-22.04
          steps:
              - uses: actions/checkout@v6

              - name: Fetch tags
                run: git fetch --prune --unshallow --tags

              - name: Determine python version
                id: python-version
                run: |
                    export PYTHON_VERSION=$(cat .python-version)
                    echo "PYTHON_VERSION: $PYTHON_VERSION"
                    echo "PYTHON_VERSION=$PYTHON_VERSION" >> $GITHUB_OUTPUT

              - name: Setup Python
                uses: ./.github/actions/setup_python_env
                with:
                  python-version: ${{ steps.python-version.outputs.PYTHON_VERSION }}

              - name: Deploy docs website
                run: |
                  git config --global user.email "bot@github.com"
                  git config --global user.name "github-actions[bot]"
                  uv run mike deploy --push --update-aliases latest

      docker-tests:
        permissions:
          contents: read
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Determine python version
              id: python-version
              run: |
                    export PYTHON_VERSION=$(cat .python-version)
                    echo "PYTHON_VERSION: $PYTHON_VERSION"
                    echo "PYTHON_VERSION=$PYTHON_VERSION" >> $GITHUB_OUTPUT

            - name: Setup Python
              uses: ./.github/actions/setup_python_env
              with:
                python-version: ${{ steps.python-version.outputs.PYTHON_VERSION }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Modify Dockerfile to use local dbt-bouncer version
              run: |
                set -eou
                sed -i -E 's/ENTRYPOINT \["uvx", "dbt-bouncer==0.0.0"\]/ENTRYPOINT \["uvx", "."\]/' Dockerfile
                sed -i -E '/ENTRYPOINT/i\COPY . .' ./Dockerfile

            - name: Build image
              uses: docker/build-push-action@v6
              with:
                  build-args: PYTHON_VERSION=${{ steps.python-version.outputs.PYTHON_VERSION }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  context: .
                  load: true
                  push: false
                  tags: dbt-bouncer:test

            - name: Run e2e test
              run: |
                docker run --rm \
                  --volume "$PWD":/app \
                  dbt-bouncer:test \
                  --config-file /app/dbt-bouncer-example.yml

      pip-tests:
        permissions:
          contents: read
        runs-on: ${{ matrix.operating-system }}
        strategy:
            fail-fast: false
            matrix:
                operating-system:
                  - ubuntu-22.04
                  - windows-latest
                python-version:
                    - '3.11'
                    - '3.12'
                    - '3.13'
                    - '3.14'
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Python
              uses: ./.github/actions/setup_python_env
              with:
                python-version: ${{ matrix.python-version }}

            - name: Install `dbt-bouncer`
              run: pip install git+https://github.com/godatadriven/dbt-bouncer.git@${{ github.sha }}

            - name: Run `dbt-bouncer`
              run: dbt-bouncer --config-file dbt-bouncer-example.yml

            - name: Regenerate dbt artifacts and run `dbt-bouncer`
              if: matrix.operating-system == 'windows-latest'
              run: |
                $env:Path += ';C:\Users\runneradmin\.local\bin'
                make build-and-run-dbt-bouncer

            - name: Regenerate dbt artifacts and run `dbt-bouncer`
              if: matrix.operating-system != 'windows-latest'
              run: |
                (r=3;while ! make build-and-run-dbt-bouncer ; do ((--r))||exit;done)
