---
name: Post release pipeline

on:
    release:
        types: [published]

env:
    DBT_PROFILES_DIR: dbt_project
    DBT_PROJECT_DIR: dbt_project

jobs:
    pypi-pause:
        runs-on: ubuntu-24.04
        steps:
            # PyPi appears to be "slow" to register new packages, adding manual delay to account for this
            - run: sleep 360

    docker-tests:
        needs: [pypi-pause]
        permissions:
          contents: read
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Run Docker test
              run: |
                docker run --rm \
                  --volume "$PWD":/app \
                  ghcr.io/godatadriven/dbt-bouncer:$(echo "${{ github.ref }}" | cut -d "/" -f3) \
                  --config-file /app/dbt-bouncer-example.yml

    github-action-test:
        needs: [pypi-pause]
        permissions:
          contents: read
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              run: git clone https://github.com/godatadriven/dbt-bouncer.git --branch $(echo "${{ github.ref }}" | cut -d "/" -f3) --depth 1

            - name: Run `dbt-bouncer`
              uses: ./dbt-bouncer
              with:
                config-file: ./dbt-bouncer/dbt-bouncer-example.yml
                send-pr-comment: false

    pypi-tests:
        needs: [pypi-pause]
        permissions:
          contents: read
        runs-on: ${{ matrix.operating-system }}
        strategy:
            fail-fast: false
            matrix:
                operating-system:
                  - ubuntu-24.04
                  - windows-latest
                python-version:
                    - '3.11'
                    - '3.12'
                    - '3.13'
                    - '3.14'
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Python
              uses: ./.github/actions/setup_python_env
              with:
                python-version: ${{ matrix.python-version }}

            - name: Install `dbt-bouncer`
              if: matrix.operating-system == 'windows-latest'
              run: |
                $env:DBT_BOUNCER_VERSION = $("${{ github.ref }}" -Split "/")[2].TrimStart("v")
                pip install "dbt-bouncer==$env:DBT_BOUNCER_VERSION"

            - name: Install `dbt-bouncer`
              if: matrix.operating-system != 'windows-latest'
              run: pip install dbt-bouncer==$(echo "${{ github.ref }}" | cut -d "/" -f3)

            - name: Run `dbt-bouncer`
              run: dbt-bouncer --config-file dbt-bouncer-example.yml

            - name: Regenerate dbt artifacts and run `dbt-bouncer`
              if: matrix.operating-system == 'windows-latest'
              run: |
                $env:Path += ';C:\Users\runneradmin\.local\bin'
                make build-and-run-dbt-bouncer

            - name: Regenerate dbt artifacts and run `dbt-bouncer`
              if: matrix.operating-system != 'windows-latest'
              run: |
                (r=3;while ! make build-and-run-dbt-bouncer ; do ((--r))||exit;done)
